body {
    font-family: 'Anton', sans-serif;
    color: white;
    letter-spacing: 0.05em;
    background: url("https://upload.wikimedia.org/wikipedia/commons/8/80/World_map_-_low_resolution.svg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
}

h1 {

    color: #CD5C5C;
}

/*.quiz {*/
/*    margin: auto;*/
/*    width: 380px;*/
/*    border-radius: 10px;*/
/*    background: lightpink;*/
/*}*/

.container {
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    gap: 10px;
    align-items: center;
    perspective: 1000px;
    width: 380px;
    height: 380px;
}

.card {
    border-radius: 5px;
    height: 100px;
    width: 100px;
    position: relative;
    transition: all 1s linear;
    transform-style: preserve-3d;
}

.front, .back {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
}

.card:hover {
    transform: rotateY(180deg);
}

.front {
    background: linear-gradient(#CD5C5C, #FF8C8C);
    z-index: 2;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
}

.back {
    background: linear-gradient(#FF8800, #FFBB4D);
    z-index: 1;
    transform: rotateY(180deg);
}